* {
    /* asterisco significa o site todo*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /* margin: 20px; */
}

header {
    height: 85px;
    display: flex;
    align-items: center;

}

.nav_header {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    width: 85%;
    margin: 0 auto;
}

.container_link {
    display: flex;
    justify-content: space-between;
    width: 210px;
}

.link {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #33303E;
}

.link_orange {
    color: #d3a708;
    font-weight: bold;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    width: 700px;
}

span {
    width: 500px;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;

}
.banner{
    background: #fff;
    width: 1920px;
    display: flex;
}

.banner button {
    position: absolute;
    width: 244px;
    height: 62px;
    left: 112px;
    top: 466px;
    background: #FF9922;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    color: #fff;
    font-weight: bold;
}
.image{
    display: flex;
    margin: 20px;
}

.img1 {
    width: 176px;
    height: 271px;
    display: flex;
    margin: 20px;
}

.img2 {
    width: 384px;
    height: 425px;
}
.meio{
    background: #d0c14b;
    height: 700px;
}